@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  button:hover {
    @apply cursor-pointer;
  }
}

:root {
  --window-border: #ffffff;
  --warning: #ed2839;
  --warning-darker: #da1222;
  --warning-lighter: #f04553;
}

.dark {
  --window-border: #ffffff;

  --warning: #ed2839;
  --warning-darker: #da1222;
  --warning-lighter: #f04553;
}

@theme inline {
  --color-window-border: var(--window-border);
  --color-warning: var(--warning);
  --color-warning-darker: var(--warning-darker);
  --color-warning-lighter: var(--warning-lighter);
}

body {
  font-family: "Matter";
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Matter";
  src: url("../public/fonts/Matter-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
